
.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.force-overflow {
    min-height: 450px;
}

#body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;}

#body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

#body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }


  .navbar {
        background-color: transparent;
      }
      .scrolling-navbar {
        transition: background .5s ease-in-out, padding .5s ease-in-out;
      }
      .top-nav-collapse {
        background-color: #34456a;
      }
      footer.page-footer {
        background-color: #34456a;
      }
      @media only screen and (max-width: 768px) {
        .navbar {
          background-color: #34456a;
        }
      }

      /* Necessary for full page carousel*/
      html,
      body,
      .view {
        height: 100%;
      }

      /* Carousel*/
      .carousel,
      .carousel-item,
      .carousel-item.active {
        height: 100%;
      }
      .carousel-inner {
        height: 100%;
      }
      .carousel .carousel-item video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #adImg{
        cursor: pointer;
      }